h1 {
    color: rgb(114, 114, 114);
}

body {
    background-color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    margin: auto;
    padding: 10px;
    text-align: center;
}

table {
    border: solid 1px grey;
}

tr {
    background-color: rgb(230, 229, 229);
}

th,
td {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(99, 99, 99);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.account {
    float: right;
}