{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="centered" style="width: 20%">
            <h1>Create a new task</h1>
            <div>
                <form method="POST" style="text-align: left">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content%}