{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="centered" style="width: 30%">
            <h1>Create a new project</h1>
            <form method="POST" style="text-align: left">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}